/* الأنماط العامة للـ NavigationBar */
.navbar {
  height: 48px; /* ارتفاع الشريط السفلي */
  background: var(--gradient);
  color: var(--text-white);
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  display: block;
  color: var(--text-white);
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding: 5px 0px;
  margin: 0px auto;
}

.navbar a:hover {
  background: var(--secondary-gradient);
}
.navbar a.active {
  background: var(--secondary-gradient);
}

.navbar svg {
  display: block;
  width: 100%;
  margin: 0px auto;
}

.iconLabel {
  width: 100%;
  display: block;
  font-size: 8px;
  margin-top: 5px;
  text-align: center;
  white-space: nowrap;
}

/* الأنماط الخاصة بالشاشات الكبيرة (سطح المكتب) */
@media (min-width: 601px) {
  .navbar {
    height: 100%; /* ملء ارتفاع الشاشة */
    top: 0;
    right: 0;
    overflow-y: auto; /* إضافة شريط تمرير رأسي إذا لزم الأمر */
  }

  .navbar ul {
    height: 100%;
    width: 48px;
    flex-wrap: wrap;
    align-content: space-between;
  }

  .navbar a {
    min-width: 48px;
    min-height: 60px;
    font-size: 24px; /* حجم الأيقونات على سطح المكتب */
  }

  .navbar a:hover {
    background: var(--primary-gradient);
  }
  .navbar a.active {
    background: var(--primary-gradient);
  }
}

/* الأنماط الخاصة بالشاشات الصغيرة (الجوال) */
@media (max-width: 600px) {
  .navbar {
    width: 100%;
    bottom: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-between; /* توزيع الأيقونات بشكل متساوي */
    overflow-y: hidden;
    overflow-x: auto;
  }

  .navbar ul {
    width: 100%;
  }

  .navbar li {
    margin: 0;
    flex: 1; /* يسمح بتوزيع الأيقونات بشكل متساوي */
  }

  .navbar a {
    font-size: 20px; /* حجم الأيقونات على الجوال */
  }
}
