#adhkar {
    background-color: #6bc077 !important;
    transition: 0.5s ease-in-out;
    box-shadow: 5px 0px 15px 0px #00000048;
}


#adhkar_ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    list-style: none;
}

#adhkar_ul li {
    width: 100px;
    background-color: #232527;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    transition: 0.5s ease-in-out;
}

#adhkar_ul li:hover {
    /* width: 110px; */
    background-color: #6bc077;
    transition: 0.5s ease-in-out;
    box-shadow: 5px 0px 15px 0px #00000048;
}

#adhkar_ul img {
    width: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#adhkar_ul p {
    font-family: "NotoSansArabic";
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0px;
    margin-top: 5px;
}


#adhkar_random {
    display: block;
    width: 85%;
    margin-top: 20px;
    background-color: #232527;
    padding: 10px;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    box-shadow: 5px 5px 15px 0px #00000034;
    /* user-select: text; */
    box-shadow: #32325d40 0px 6px 12px -2px, #0000004d 0px 3px 7px -3px;
}

#adhkar_random_title {
    margin-bottom: 8px;
    margin-top: 0px;
    font-family: "NotoSansArabic";
    font-weight: 600;
    color: #585858;
    font-size: 16px;
    text-align: center;
}

#adhkar_random_text {
    font-family: 'Amiri';
    color: #ffffff;
    font-size: 19px;
    text-align: center;
    margin-bottom: 0px;
}

.adhkar_random_font {
    font-family: 'NotoSansArabic';
    font-weight: 400;
    color: #585858;
    font-size: 14px;
    text-align: center;
}

#adhkar_random_reference {
    color: #a6ca61;
}

.copy_and_paste {
    margin-top: 15px;
    margin-bottom: 0px;
    background-color: #2e3338;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}


.copy_and_paste li {
    height: 30px;
    margin-left: 50px;
}

.icon_c_p {
    width: 20px;
    height: 20px;
    padding: 5px;
}

.icon_c_p:hover {
    width: 23px;
    height: 23px;
}


.adhkar {
    display: block;
    width: 85%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #232527;
    padding: 10px;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: #32325d40 0px 6px 12px -2px, #0000004d 0px 3px 7px -3px;
}

.adhkar:nth-child(1) {
    margin-top: 50px;
}

.adhkar:hover {
    background-color: #6bc077;
}


.adhkar:hover .copy_and_paste {
    background-color: #53925b;
}

.adhkar:hover .repetition {
    background-color: #6bc077;
    color: #3c6e43;
}

.adhkar:hover .repetition_number {
    color: #3c6e43;
}

.adhkar:hover .text_bottom {
    color: #3c6e43;
}

.text_bottom {
    margin-bottom: 8px;
    margin-top: 10px;
    font-family: 'NotoSansArabic';
    font-weight: 500;
    color: #585858;
    font-size: 12px;
    text-align: center;


}

.text {
    font-family: 'Amiri';
    color: #fff;
    font-size: 19px;
    text-align: center;
    margin-bottom: 0px;
}

.repetition {
    text-align: center;
    font-family: 'NotoSansArabic';
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    background-color: #232527;
    border-radius: 10px;
    width: 90px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.repetition_number {
    color: #4e5458;
    margin-right: 10px;
}

#header {
    width: 100%;
    display: flex;
    background-color: #2e3338;
    justify-content: center;
    align-items: center;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #232527;
    padding: 10px;
    box-shadow: #0000001a 0px 10px 15px -3px, #0000000d 0px 4px 6px -2px;
    position: fixed;
    top: 0px;
    margin-bottom: 20px;
}

#header p {
    font-family: 'NotoSansArabic';
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin: 0 0 0 0;
}

#header img {
    width: 20px;
    right: 0px;
    margin: 0 0 0 0;
    position: absolute;
    margin-right: 15px;
}