#content {
    margin-top: 60px !important;
}

#images {
    display: block;
    list-style: none;
    padding: 0px;
}

#images li {
    width: 85%;
    background-color: var(--background_div);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease-in-out;
    padding: 10px;
}

#images li:hover {
    transition: 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.616) 0px 25px 20px -20px;
}

.images_view {
    width: 90%;
    height: 300px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 10px;
}

.images_download {
    width: 30px;
    position: absolute;
    left: 10px;
    margin-top: -23px;
    margin-left: 8%;
    transition: 0.5s ease-in-out;
}

.images_download:hover {
    width: 35px;
    transition: 0.5s ease-in-out;
}

#images_more_button {
    display: none;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 30%;
    padding: 10px;
    background-color: var(--background_div_hover);
    color: var(--white-div);
    font-weight: 800;
    font-size: 15px;
    border: none;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#images_more_button:hover {
    width: 31%;
    padding: 12px;
    transition: 0.5s ease-in-out;
    box-shadow: #00000069 0px 9px 18px 0px;

}