#prayer {
    background-color: var(--background_div_hover) !important;
    transition: 0.5s ease-in-out;
    box-shadow: 5px 0px 15px 0px #00000048;
}

#content {
    margin-top: 5px;
}
#prayer_time {
    display: block;
    width: 100%;
    direction: rtl;
    font-family: var(--NotoSansArabic);
    font-weight: 700;
    user-select: text;
}

#time {
    display: flex;
    direction: ltr;
    justify-content: center;
    align-items: center;
}

#hour_minutes {
    color: var(--white);
    font-size: 58px;
    margin-right: 7px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#seconds {
    color: var(--color_font_grey);
    font-size: 28px;
}

#country {
    display: flex;
    justify-content: center;
    color: var(--color_font_grey);
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    width: 90%;
    margin: auto;
    border-radius: 8px;
    padding: 5px;
}

#city {
    color: var(--background_div_hover);
    margin-right: 10px;
}

#data {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

#data_hijri {
    color: var(--color_font_grey);
    font-size: 13px;
    
}

#data_Gregorian {
    color: var(--color_font_grey);
    font-size: 13px;
}

#datoday {
    color: var(--white);
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#prayer_ul {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

#prayer_ul li {
    display: block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: var(--background_div);
    width: calc(45% - 5px);
    border-radius: 8px;
    text-align: center;
    direction: ltr;
    box-shadow: 5px 15px 15px 0px #0000001c;
    transition: 0.5s ease-in-out;
}

#prayer_ul li:hover {
    background-color: var(--background_div_hover);
    padding: 5px;
    transition: 0.5s ease-in-out;
    box-shadow: 5px 15px 15px 0px #00000048;
}

#prayer_ul li:hover .slah{
    color: var(--background_div_hover_2);
}

#remaining {
    display: none;
    color: var(--color_font_grey);
    font-size: 15px;
    text-align: center;
}

#remaining_name {
    color: var(--background_div_hover);
    text-align: center;
}

#remaining_time {
    display: none;
    color: var(--white-div);
    font-size: 20px;
    text-align: center;
    background-color: var(--background_div_hover);
    width: 60%;
    border-radius: 8px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 15px 15px 0px #0000001c;
    transition: 0.5s ease-in-out;
}

.slah {
    color: var(--color_font_grey);
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.time_prayer {
    font-size: 14px ;
    color: var(--white-div);
    margin: 0 0 0 0;
    margin-top: 5px;
    margin-bottom: 5px;
}