#content {
    margin-top: 60px !important;
}

#radio_quran {
    display: block;
    padding: 0px;
    list-style: none;
    margin-top: 40px;
}

#radio_quran li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: var(--background_div);
    transition: 0.5s ease-in-out;
    box-shadow: 5px 7px 5px 0px #0000001a;
    position: relative;
}

#radio_quran li:hover {
    transition: 0.5s ease-in-out;
    background-color: var(--background_div_hover);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#radio_quran li:hover .radio_quran_number{
    transition: 0.5s ease-in-out;
    background-color: var(--background_div);
}
#radioSearch {
    display: block;
    width: 80%;
    max-width: 300px;
    background-image: url(/img/searchicon.png);
    background-position: 5px 10px;
    background-repeat: no-repeat;
    padding: 7px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--NotoSansArabic);
    font-weight: 700;
    font-size: 12px;
    border-radius: 5px;
}


/* .radio_quran_number {
    color: var(--white-div);
    font-size: 12px;
    position: absolute;
    margin-top: -17px;
    top: 0;
    background-color: var(--background_div_hover);
    width: 25px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    font-weight: 600;
    box-shadow: 0px 3px 10px 0px #0000002f;
} */

.radio_quran_title {
    color: var(--white-div);
    margin-left: 10px;
    margin-right: 10px;
}

.radio_quran_play {
    width: 30px;
    margin-left: 10px;
}

#radio_logo {
    width: 65px;
    height: 65px;
    border-radius: 10px;
    margin-right: 10px;
}


@media (max-width: 350px) {
    .radio_quran_title {
        font-size: 11px;
    }
}