#content {
    margin-top: 0px !important;
}

#sabha {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    right: 0;
    left: 0;
}

#sabha_number {
    font-family: var(--digital_7);
    font-size: 150px;
    color: var(--background_div_hover);
    text-shadow: 0px 3px 0px var(--green),
        0px 14px 10px rgba(0, 0, 0, 0.15),
        0px 24px 2px rgba(0, 0, 0, 0.1),
        0px 34px 30px rgba(0, 0, 0, 0.1);
}

#repetition_bt {
    position: absolute;
    width: 30px;
    top: 100px;
    cursor: pointer;
}