#content {
    margin-top: 60px !important;
}


.settings_ul {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    padding: 0px;
}

.settings_ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: var(--background_div);
    padding: 15px;
    border-radius: 10px;
}

.settings_ul li:hover {
    background-color: var(--background_div_2);
}

.settings_title {
    color: var(--white-div);
    margin-left: 10px;
    font-size: 11px;
}

.select_sesettings {
    width: 140px;
    height: 30px;
    text-align: right;
    border-radius: 10px;
    font-size: 11px;
    text-indent: 4px;
    background-color: #eceff1;
    border: none;
    color: var(--color_font_grey);
}

.inp_number_settings {
    width: 140px;
    height: 30px;
    text-align: right;
    border-radius: 10px;
    font-size: 11px;
    text-indent: 4px;
    background-color: #eceff1;
    border: none;
    color: var(--color_font_grey);
}

#settings_save {
    margin-top: 25px;
    margin-bottom: 20px;
    display: block;
    width: 100px;
    border-style: none;
    border-radius: 15px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: 700;
    font-family: var(--NotoSansArabic);
    color: var(--white-div);
    background-color: var(--background_div);
    transition: 0.5s ease-in-out;
}

#settings_save:hover {
    background-color: var(--background_div_hover);
    box-shadow: #0000004d 0px 9px 10px 0px;
}



.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--background_div_hover);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--background_div_hover);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#refresh_location {
    width: 30px;
    margin-left: 10px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#refresh_location:hover {
    width: 35px;
    animation: rotation 0.5s linear;
    transition: 0.5s ease-in-out;
}

#themes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#themes>p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    /* border-style: solid;
    border-width: 1px;
    border-color: var(--background_div_hover); */
}

#theme_1 {
    background-color: #2e3338;
}

#theme_2 {
    background-color: #141e46;
}

#theme_3 {
    background-color: #38382e;
}

#theme_4 {
    background-color: #acc2fd;
}

#theme_5 {
    background-color: #0b3f43;
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}