:root {
    --NotoSansArabic: "NotoSansArabic";
    --Amiri: "Amiri";
    --font_size_surah: 30px;
    --font_size_adhkar: 20px;
    --background_body: #2e3338;
    --background_div: #232527;
    --background_menu: #1b1d1f;
    --background_div_hover: #6bc077;
    --background_div_hover_2: #53925b;
    --green: #335e39;
    --color_font_grey: #727272;
    --red: #f34949;
    --white: #ffffff;
    --white-div: #ffffff;
}